#community_header{
	margin: 0 0 20px 0;
}
#community_header > *{
	float: left;
	vertical-align: middle;
	margin: 5px 5px 5px 0;
}
#community_header > a, #community_header > img{
	margin-top: 10px;
}
#community_header h1{
	font-size: 1.5em;
	font-weight: bold;
}
#community_header span.members{
	font-size: 1.3em;
}
#community_header{
	color: #9E9E9E;
}
#community_header div{
	font-size: 0.8em;
}
#community_header img, #community_header img h1, #community_header a{
	vertical-align: middle;
}
a.community {
	padding-left: 14px;
	background: url(/gears/community/img/icon/community-small.gif) no-repeat 0 3px;
}
a.admin{
	color: red;
}
a.member{
	font-weight: bold;
}