.cpanel-mail a.no-decoration span{
	color: #66BFF6;
	font-size: 1.8em;
}
form#message{
	text-align: right;
}
#pm_reply{
	text-align: right;
	padding: 0 10px;
}
table#pm thead td{
	padding: 5px 0 10px;
}
table#pm tr.unread {
	background: #A0D9F9;
}
div.mail {
	padding: 10px;
}

.mail .body {
	padding: 10px;
	margin: 10px 0 0 0;
	border: 1px dotted #A6A6A6;
}

.mail p form {
	margin: 0;
	padding: 0;
	display: inline;
	width: 100px;
}

